@font-face {
    font-family: 'mu-th-urregular';
    src: url('../media/font/mu-th-ur-regular-webfont.woff2') format('woff2'),
    url('../media/font/mu-th-ur-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    list-style: none;
}

/*To remove any margin or border, reset font size & font style, reset the vertical alignment to its default value*/
html, body, div, span, applet,
p, blockquote,
a, big, cite, code,
em, img,
small, strike, strong, tt,
b, u, i,
ol, ul, li,
form, label, legend,
table,
article, aside, canvas,
figure, figcaption, footer, header,
menu, nav, output, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
}

/* hyphens & too long words go to next line */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
/*To remove bullets from bulleted lists*/
ul, li {
    list-style: none;
}
/*To remove underlining or any other effect on links*/
a, a:target, a:visited, a:active {
    text-decoration: none;
    color: grey;
}

img {
    max-width: 100%;
}

/* --------------------------------------------------------------- General structure */
html, body{
    overflow: hidden;
}

#map{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
#frame
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 20px solid black;
    box-sizing: border-box;
    z-index: -1;
}

.panel
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19vw;
    height: 19vh;
    box-sizing: border-box;
    color: grey;
}
.innerPanel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#top .innerPanel
{
    flex-direction: row;
}
#ClearMap{
    position: absolute;
    z-index: 200;
    height: 3em;
    width: 5em;
    background-color: green;
    color: white;
}

#top, #bottom
{
    width: calc(100vw - 19vw - 19vw);
}
#left1, #left2, #right1, #right2
{
    height: calc(50vh - 19vh);
}

form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
fieldset
{
    padding: 0;
    margin: 0;
    width: 45%;
    height: 45%;
    box-sizing: border-box;
}
.fieldset
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
}
select, button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0.3em;
    margin: 0.3em 0;
}
.panel .transformButton
{
    position: absolute;
    width: 20px;
    height: 20px;
}
#topleft, #topright, #bottomleft, #bottomright, #left1, #left2, #right1, #right2
{
    text-align: center;
}
table
{
    margin: auto;
}
th
{
    text-align: right;
}
#topleft .transformButton
{
    bottom: 0;
    right: 0;
}
#topright .transformButton
{
    bottom: 0;
    left: 0;
}
#bottomleft p
{
    color: rgba(255,255,255, 1);
}
#bottomleft .transformButton
{
    top: 0;
    right: 0;
}
#bottomright .transformButton
{
    top: 0;
    left: 0;
}
#top .transformButton
{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%):
}
#bottom .transformButton
{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#left1 .transformButton, #left2 .transformButton
{
    top: 50%;
    right: 0;
    transform: translateY(-50%):
}
#right1 .transformButton, #right2 .transformButton
{
    top: 50%;
    left: 0;
    transform: translateY(-50%):
}
#transformButton
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 55px;
}

/* --------------------------------------------------------- Structure des TItres */

#top h1 {
    margin: 0;
    padding: 0;
    font-family: 'mu-th-urregular';
    font-size: 50px;
    color:#ED1E24;
}

h2 {
    font-family: 'mu-th-urregular';
    margin-top: 0;
    margin-bottom: 5%;
    color:#0B3D91;
}

a {
    text-decoration: none;
    color: grey;
}

/* ---------------------------------------------------------------- Media Queries */
